
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* estilos del banner index.html */
div#banner{
    
    background-color: rgb(237, 236, 235);
    letter-spacing: 2px;
  
}
img#img1{
display: block;
margin:auto;
object-fit: cover;
width: 100%;
height: 200px;
object-position: 50% 25%;
opacity: 70%;
}

.logo{
    position: absolute;
    width: 500%;
    max-width: 100px;
    margin: 20px;   
    right: 30px;
    top: -70px;
    background-color: white;
    border-radius: 90%;
}
.container{
width: 100%;
background-color: black;
color: white;
position: relative;
text-align: center;

}

.maincontainer{
    display: flex;
    
}
#menu{
    display: flex;
    flex-direction: column;
    line-height: 2;


}

.title{
    position: absolute;
    right: 15%;
    top: -10px;
    padding: 10%;
    text-shadow: -1px -1px 1px;
}

.contenido{
    color: black;
line-height: 1.8;

}
/* Estilos de About */




/* estilos de contact */




/* estilos de game info*/
div{
    margin: 10px;
}
#titleinfo{
    text-align: center;
    padding: 50px;
    border: 20% solid transparent;
    text-shadow: -1px -1px 1px;
    width: 100%;

}
#textnormal{
    padding-left: 20px;
    text-align: start;
    margin: 10px;
    width: 100% ;
}
#text2{
    
padding: 10%;
margin: 15px;
}
/* La tabla */
table{
    padding: 20% 5% 5% 5%;
    table-layout: fixed;
    background-color:white;
    width: 50%;
    height: 50%;
}
tr{
text-align: center;
}
th{
    letter-spacing: 3px;
}
td{
width:50%;
letter-spacing: 1px;
}

 td th{
    padding: 20%;
    margin:auto;
   
 }


/* estilos de rules.html */
.textorules{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#titlerules{
    text-align: center;
    padding: 50px;
    border: 20% solid transparent;
    text-shadow: -1px -1px 1px;
}
#subtext{
   font-size: 1em;
   font-style: normal;
   text-decoration: none; 

}
h3{
    font-weight: bold;
}


ol{
    padding: 10px;
    font-size:15px;
}



/*header#banner{
    width: 100%;
    height:300px ;
    background-position: 50% 50% ;
    background-size: cover ;
    background-image: url("./assets/design1_image1.jpg");
}


nav a{
    display: block;

}
h4{
    padding: 10px;
    margin: auto;
    border: 3px ; 
    width: 100%;
    background-color: black;
    color: beige;
    text-align:center;
}
.subtitulo{
    text-align: left;
}
.subtitulo dt{
    font-weight: bolder;
}
.subtitulo dt{
    margin: auto;
    max-width: 100%;

}


