@media screen and (min-height: 700px) {
}
@media  screen and (max-height: 1200px) {
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* estilos del banner index.html */
div#banner{
    letter-spacing: 2px;
  
}
img#img1{
    display: block;
    margin:auto;
    object-fit: cover;
    width: 100%;
    height: 200px;
    object-position: 50% 25%;
    opacity: 75%;
}

.logo{
    position: absolute;
    width: 500%;
    max-width: 100px;
    margin: 20px;   
    right: 30px;
    top: -70px;
    background-color: rgb(255, 255, 255);
    border-radius: 35% 35% 35% 35%;
}
.container{
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
    text-align: center;

}

.maincontainer{
    display: flex;
    padding: 0;
    margin: 7%;
    
}
#menu{
    display: flex;
    flex-direction: column;
    line-height: 2;
    padding: 0;
    margin-right: 40px;


}

.title{
    display: flex;
    text-align: start;
    position: absolute;
    left: -5px;
    top: -23px;
    padding: 10%;
    text-shadow: -1px -1px white;
    font-size: 12px; 
}

.contenido{
    color: black;
    line-height: 1.8;

}
.subtitulo{
    margin: 10px;
}
/* Estilos de About */

#texto{
    box-sizing: border-box;
    padding: 10%;
    border: 0;
    margin: 10px;
    width: 100px ;
    justify-content: center;
}




/* estilos de contact */
.mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: 150px;
    margin-top: -290px;
    
}



/* estilos de game info*/
div{
    margin: 10px;
}
#titleinfo{
    text-align: center;
    padding: 50px;
    border: 20px solid transparent;
    text-shadow: -1px -1px 1px;
    width: 100%;

}
#textnormal{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin: 10px;
    width: 100% ;
    border: 5px black solid;
    background-color: rgb(250, 250, 176);
}
#text1{
    font-size: 1em;
    margin: 20px;
}

#text2{    
    padding: 1%;
    margin: 15px;
    text-indent: 2px;
    margin: 10px;

}
#mail{
   
   text-align: end;
}

/* Maps */
.mapas{
    display: flex;
    flex-wrap: nowrap;
}
.row{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.col-6{
    flex: 0 0 100%;
    max-width: 100%;
}

iframe{
    width: 100%;
    height: 300px;
    border: none;
    margin-bottom: 10px;
}
h3{
    text-align: center;
    color: beige;
    background-color: black;
}



/* La tabla */
table{
    padding:  5% 5% 5%;
    table-layout: fixed;
    background-color:white;
    width: 100%;  
}
#tabhead{
   background-color: rgb(252, 250, 218);
    border: 1vh rgb(236, 238, 100) solid;
    padding: 0;
}
tr{
    text-align: center;
}
th{
    letter-spacing: 2px;
}
td{
    width:50%;
    letter-spacing: 1px;
}

 td th{
    padding: 10px;
    margin: 10px;
 }


/* estilos de rules.html */
.textorules{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#titlerules{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin: 10px;
    width: 100% ;
    border: 5px black solid;
    background-color: rgb(250, 250, 176);
}

#subtext{
   font-size: 1em;
   font-style: normal;
   text-decoration: none; 
   margin: 75px;

}
h3{
    font-weight: bold;
}

.listap{
    list-style-type:lower-alpha;
}
ol{
   
    font-size:15px;
}

/* Registration form */

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
    /* outline: none; */
}
h2{
    text-align: center;
    padding: 10px;
}

input{
    border: 0;
    border-bottom:solid 1px black;
 }
 .order>label{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;

 }
 .botton{
    display: flex;
    border: 3px;
    border-bottom: solid 1px black;

    
 }